# 빌드 출력 및 중간 파일
[Bb]in/
[Oo]bj/
*.obj
*.log
*.tlog
*.pdb
*.pch
*.ipch
*.aps
*.ilk
*.idb
*.iobj
*.ipdb

# 사용자 환경 관련 파일
*.suo
*.user
*.userosscache
*.sdf
*.cache
*.dbmdl
*.VC.db

# .vs 폴더
.vs/

# CMake 관련 임시 파일 (있을 경우)
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# JD 엔진
/JDEngine_App/x64
/JDEngine_Base/x64
/JDEngine_Core/x64
/JDEngine_Doc/x64
/JDEgine_App/x64
/JDEngine_Common/x64
/JDEngine_Contents/x64
/JDEngine_Windows/x64
x64/Debug/JDEgine_App.exe
x64/Debug/JDEngine_Base.lib
x64/Debug/JDEngine_Common.lib
x64/Debug/JDEngine_Contents.lib
x64/Debug/JDEngine_Core.lib
x64/Debug/JDEngine_Windows.lib
